<div class="form-group">

    <% if ( field.component !== 'checkbox' &&
            field.component !== 'radio' && field.label ) { %>
        <label><%= field.label %></label>
    <% } %>

    <% if(field.component === 'input') { %>
        <input
                class="fui-input form-control"
                type="<%= field.type %>"
                name="<%= field.name %>"
                value="<%= field.value ? field.value : (field.default ? field.default : '') %>"
                placeholder="<%= field.label ? field.label : '' %>"
                <%if (field.validation) { %>
                    <% if (field.validation.min) { %> minlength="<%= field.validation.min %>" <% } %>
                    <% if (field.validation.max) { %> maxlength="<%= field.validation.max %>" <% } %>
                <% } %>>
    <% } %>

    <% if(field.component === 'checkbox') { %>

        <% if(field.group) { %>

            <label><%= field.label %></label>

            <% _.each(field.group, function(checkbox) { %>
                <label class="checkbox primary">
                    <input
                            type="checkbox"
                            data-toggle="checkbox"
                            name="<%= field.name %>"
                            class="fui-checkbox custom-checkbox"
                            value="<%= checkbox.label %>"
                            <% if(!field.value && checkbox.checked) { %> checked
                            <% } else if(field.value && typeof(field.value) === 'string' && field.value === checkbox.label) { %> checked
                            <% } else if(field.value && Array.isArray(field.value) && ~field.value.indexOf(checkbox.label)) { %> checked <% } %>>
                    <%= checkbox.label %>
                </label>
            <% }); %>

        <% } else { %>
            <label class="checkbox primary">
                <input
                        type="checkbox"
                        data-toggle="checkbox"
                        name="<%= field.name %>"
                        class="fui-checkbox custom-checkbox"
                        <% if(field.value && field.value === 'on') { %> checked
                        <% } else if(field.value && field.value === 'off') { %>
                        <% } else if(field.checked) { %> checked <% } %>>
                <%= field.label %>
            </label>
        <% } %>
    <% } %>

    <% if(field.component === 'radio') { %>

        <% if(field.group) { %>

            <label><%= field.label %></label>

            <% _.each(field.group, function(radio) { %>
                <label class="radio primary">
                    <input
                            type="radio"
                            data-toggle="radio"
                            name="<%= field.name %>"
                            class="fui-radio custom-radio"
                            value="<%= radio.label %>"
                            <% if(field.value && field.value === radio.label) { %> checked
                            <% } else if(radio.checked) { %> checked <% } %>>
                    <%= radio.label %>
                </label>
            <% }); %>

        <% } else { %>
            <label class="radio primary">
                <input
                        type="radio"
                        data-toggle="radio"
                        name="<%= field.name %>"
                        class="fui-radio custom-radio"
                        <% if(field.value && field.value === 'on') { %> checked
                        <% } else if(field.value && field.value === 'off') { %>
                        <% } else if(field.checked) { %> checked <% } %>>
                <%= field.label %>
            </label>
        <% } %>
    <% } %>

    <% if(field.component === 'select') { %>
        <select
                name="<%= field.name %>"
                class="fui-select form-control select select-inverse select-block mbl"
        >
            <% _.each(field.groups, function(group) { %>
                <optgroup label="<%= group.label %>">
                    <% _.each(group.options, function(option) { %>
                        <option value="<%= option.text %>"
                            <% if(!field.value && option.selected) { %> selected
                            <% } else if(field.value && option.text === field.value) { %> selected <% } %>>
                            <%= option.text %>
                        </option>
                    <% }); %>
                </optgroup>
            <% }); %>

            <% _.each(field.options, function(option) { %>
                <option value="<%= option.text %>"
                    <% if(!field.value && option.selected) { %> selected
                    <% } else if(field.value && option.text === field.value) { %> selected <% } %>>
                    <%= option.text %>
                </option>
            <% }); %>

        </select>
    <% } %>

    <% if(field.component === 'switch') { %>
        <div>
            <input
                    type="checkbox"
                    data-toggle="switch"
                    name="<%= field.name %>"
                    class="fui-switch"
                    data-on-color="primary"
                    <% if(field.value && field.value === 'on') { %> checked
                    <% } else if(field.value && field.value === 'off') { %>
                    <% } else if(field.checked) { %> checked <% } %>
                    <% if(field.actionText) { %>
                        data-on-text="<%= field.actionText.on %>"
                        data-off-text="<%= field.actionText.off %>"
                    <% } else { %>
                        data-on-text="<i class='fui-check'></i>"
                        data-off-text="<i class='fui-cross'></i>"
                    <% } %>
            >
        </div>
    <% } %>

    <% if(field.description) { %>
    <small class="form-text text-muted">
        <%= field.description %>
    </small>
    <% } %>

</div>