<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-3">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#">Admin panel</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-3">

        <form class="navbar-form navbar-left" role="form">
            <div class="form-group">
                <input id="urlInput" name="urlInput" type="text" class="form-control" placeholder="Portal URL">
            </div>
            <button id="runBs" type="button" class="btn btn-default">Run</button>
        </form>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" id="folderFilter">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="fui-folder"></span> Folder <b class="caret"></b>
                </a>
                <ul class="dropdown-menu folder-list checkbox-list">
                    <li class="active"><a href="#"><span class="fui-check"></span>all</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><span class="fui-check"></span>candy-theme</a></li>
                    <li><a href="#" class="second-level"><span class="fui-check"></span>candy-theme-dark</a></li>
                    <li><a href="#" class="third-level"><span class="fui-check"></span>candy-theme-dark-1</a></li>
                    <li><a href="#" class="third-level"><span class="fui-check"></span>candy-theme-dark-2</a></li>
                    <li><a href="#"><span class="fui-check"></span>candy-theme</a></li>
                    <li><a href="#" class="second-level"><span class="fui-check"></span>candy-theme-dark</a></li>
                    <li><a href="#" class="third-level"><span class="fui-check"></span>candy-theme-dark-1</a></li>
                    <li><a href="#" class="third-level"><span class="fui-check"></span>candy-theme-dark-2</a></li>
                </ul>
            </li>

            <li class="dropdown" id="navSettings">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="visible-sm visible-xs">Settings<span class="fui-gear"></span></span>
                    <span class="visible-md visible-lg"><span class="fui-gear"></span></span>
                </a>
                <ul class="dropdown-menu fn-multi-select checkbox-list">
                    <li class="active">
                        <a href="#" id="useAutomation" name="useAutomation">
                            <span class="fui-check"></span> Use automation</a>
                    </li>
                    <li class="divider"></li>
                    <li class="disabled"><a href="#"><span class="fui-check"></span>Allow IP</a></li>
                    <li class="disabled"><a href="#"><span class="fui-check"></span>Allow Port</a></li>
                    <li class="disabled"><a href="#"><span class="fui-check"></span>Allow GET params</a></li>
                </ul>
            </li>

        </ul>
    </div><!-- /.navbar-collapse -->
</div>